<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Notify-WS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="loginLogoutRegister">
      <div class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
          {% if request.user.is_staff or request.user.is_superuser %}
          <a class="btn btn-info" role="button" href="{% url 'tasks:task-create' %}">Create new task</a>
          {% endif %}
          <span class="nav-link active">Hi {{request.user.username}}</span>
          <a class="nav-link active" href="{% url 'users:logout' %}">Logout</a>
          
      {% else %}
      <a class="nav-link active" href="{% url 'users:register' %}">Register</a>
      <a class="nav-link active" href="{% url 'users:login' %}">Login</a>
      {% endif %}
      </div>
    </div>
  </div>
</nav>